<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
        <p>2015年，大学毕业后，工厂实习三个月。</p>
        <p>2015年，决定学习编程，经过培训走入程序员行业。</p>
        <p>2016~2018年，北京思特奇公司，在杭州从事大数据维护方面工作。</p>
        <p>2018年下半年，辞职加入思特奇，接触到elk，微服务，spring boot等。</p>
        <p>2020年，目前还在微服务和大数据方面沉浮。</p>
        <p>喜欢东野圭吾的书，最喜欢加贺恭一郎系列；喜欢看电影，电影院那种，一个人或者几个人。</p>
        <p>希望有一天可以赚很多的钱，买想买的东西，做想做的事情。</p>

       <h2>
         History
       </h2>

       <ul>
            <li>2020年，建站，托管于 Github Pages。</li>
        </ul>


        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div> 

    </div>
</div>